.custom__input > input {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    border-radius: 10px;
    border: 1px solid #B2CD4A;
    background: #FFF;
    width: 100%;
    padding: 8px 16px;
}

.custom__input > span {
    display: block;
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 10px;
}

.custom__button__primary {
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #83C251;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.custom__button__secondary {
    border-radius: 10px;
    border: 1px solid #83C251;
    background: #FFF;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.custom__button__danger {
    border-radius: 10px;
    border: 1px solid #c40000;
    background: #c40000;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.disabled {
    background: rgba(0, 0, 0, 0.3);
}

.select {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    border-radius: 10px;
    border: 1px solid #B2CD4A;
    background: #FFF;
    width: 100%;
    padding: 8px 16px;
}